<HTML>
<head>
</head> 
<body>
<form method="POST" action="ajoutCommande.php">
<table>
<caption>Ajouter commande</caption>
<tr>
<td>id_Commande</td>
<td><input type="number" name="id_Commande"></td>
</tr>
<tr>
<td>date commande</td>
<td><input type="number" name="date_commande"></td>
</tr>
<tr>
<td>Quantite</td>
<td><input type="number" name="Quantite"></td>
</tr>
<tr>
<td>id_client</td>
<td><input type="number" name="id_client"></td>
</tr>
<tr>
<td>id_produit</td>
<td><input type="text" name="Referenceproduit"></td>
</tr>
<tr>
<td>Boutique</td>
<td><input type="text" name="Boutique"></td>
</tr>

<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>